body {
    background-color: rgb(240, 238, 233);
    width: 100%;
    color: rgb(29, 29, 29);
}

#hero {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1380px 1fr;  /* mix px and fr */
    grid-template-rows: 1fr auto 1fr;  /* mix px and auto */
}

#hero h1 {
    font-size: 5rem;
    line-height: 0.9;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

#hero p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-content-container {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.bl {
    border-left: 2px solid rgb(36, 36, 36);
}

.br {
    border-right: 2px solid rgb(36, 36, 36);
}

.bt {
    border-top: 2px solid rgb(36, 36, 36);
}

.bb {
    border-bottom: 2px solid rgb(36, 36, 36);
}

.bl-white {
    border-left: 2px solid rgb(177, 177, 177);
}

.br-white {
    border-right: 2px solid rgb(177, 177, 177);
}

.bt-white {
    border-top: 2px solid rgb(177, 177, 177);
}

.bb-white {
    border-bottom: 2px solid rgb(177, 177, 177);
}


#sponsors {
    display: grid;
    grid-template-columns: 1fr 1380px 1fr;  /* mix px and fr */
    grid-template-rows: 1fr;  /* mix px and auto */
    width: 100%;
    height: 130px;
}

.sponsor-logos {
    gap: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.sponsor-logos img {
    max-height: 60px;
    max-width: 150px;
    object-fit: contain;
}

.sponsors-container {
    gap: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#sponsors h2 {
    padding: 10px;
    font-size: 2rem;
    line-height: 0.9;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

#famous-art {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1380px 1fr;  /* mix px and fr */
    grid-template-rows: auto auto auto;  /* mix px and auto */
}

#famous-art h2 {
    font-size: 3.5rem;
    line-height: 0.9;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}

#famous-art p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.famous-text-container {
    padding: 10px;
    padding-top: 40px;
    padding-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.art-row {
    height: 100%;
    width: 100%;
    display: flex;
}

.art-row-item {
    padding: 40px;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.art-row-item p {
    font-size: 1.2rem !important;
}

.art-row-item strong {
    font-size: 1.2rem;
    font-family: "Rubik Mono One", monospace;
    text-align: center;
}

.art-img {
    display: block;
    flex: 1;
    width: 100%;
    object-fit: contain;
    max-height: 400px;
    margin-bottom: 40px;
}

#find-us {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1380px 1fr;  /* mix px and fr */
    grid-template-rows: auto;  /* mix px and auto */
}

.find-us-container {
    display: flex;
}

.find-us-text-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#find-us h2 {
    font-size: 3.5rem;
    line-height: 0.9;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

#find-us p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

#find-us address {
    font-style: normal;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#find-us .highlight {
    margin: 3px 0px;
    padding: 5px;
    background-color: rgb(255, 246, 162);
    display: inline-block;
}


#meme-lectures {
    width: 100%;
    height: 100vh;
    position: relative;

    background-image: url('https://imgs.search.brave.com/Oe_A97kS2cj5MfUH9ODE5KaksDXsRSR9CahNbc2jf3s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA4LzY1LzkxLzg0/LzM2MF9GXzg2NTkx/ODQ4MF9MY1JFWm52/S0NKZWY2azdSWUE2/VmJDSFh4aU9ZSFNE/bi5qcGc'); /* path to your image */
    background-size: cover;       /* make it cover entire element */
    background-position: center;  /* center image */
    background-repeat: no-repeat; /* don’t repeat */

   
}

.meme-lectures-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1380px 1fr;  /* mix px and fr */
    grid-template-rows: 1fr auto 1fr;  /* mix px and auto */
    height: 100%;
    width: 100%;
    z-index: 10;
}

#meme-lectures h2 {
    font-size: 5rem;
    line-height: 0.9;
    color: rgb(247, 247, 247);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

#meme-lectures .overlay {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* dark tint */
  z-index: 1;
}

#meme-lectures p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: rgb(247, 247, 247);
    max-width: 600px;
}

.meme-lectures-text-container {
    background-color: rgb(24, 24, 24);
    padding: 30px;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#workshops {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1380px 1fr;  /* mix px and fr */
    grid-template-rows: auto auto;  /* mix px and auto */
}

#workshops h2 {
    background-color: rgb(211, 197, 221);
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 0.9;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.workshops-flex {
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.workshops-card {
    border: 2px solid rgb(36, 36, 36);
    border-bottom: 6px solid rgb(36, 36, 36);
    border-left: 4px solid rgb(36, 36, 36);
    padding: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workshops-card strong {
    font-size: 1.5rem;
    font-family: "Rubik Mono One", monospace;
    margin-bottom: 10px;
}

.workshops-card p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#gallery-action {
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1380px 1fr;  /* mix px and fr */
    grid-template-rows: 100%;  /* mix px and auto */
}

#gallery-action h2 {
    font-size: 3.5rem;
    line-height: 0.9;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

#gallery-action p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.gallery-text-container {
    padding: 10px;
    padding-right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#gallery-action button {
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: rgb(240, 238, 233);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(240, 238, 233);
}

nav a {
    
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Attempt at making this responsive */
@media (max-width: 1380px) {
    html {
        font-size: 12px;
    }

    #hero {
        grid-template-columns: 0px 1fr 0px;  /* mix px and fr */
        grid-template-rows: 1fr auto 1fr;  /* mix px and auto */
        height: auto;
    }

    .hero-content-container {
        flex-direction: column;
        align-items: center;
        border-bottom: none;
    }

    #hero h1 {
        margin-top: 20px;
        font-size: 2.5rem;
        text-align: center;
    }

    #hero p {
        font-size: 1.2rem;
        max-width: 100%;
        text-align: center;
    }

    #sponsors {
        grid-template-columns: 0px 1fr 0px;  /* mix px and fr */
        grid-template-rows: auto;  /* mix px and auto */
        height: auto;
    }

    .sponsors-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .sponsor-logos {
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    #famous-art {
        grid-template-columns: 0px 1fr 0px;  /* mix px and fr */
        grid-template-rows: auto auto auto;  /* mix px and auto */
    }

    .famous-text-container {
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .art-row {
        flex-direction: column;
    }

    .art-row-item:not(:last-child) {
        border-bottom: 2px solid rgb(36, 36, 36);
    }

    .art-row-item {
        border-left: none;
    }

    #famous-art h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    #find-us {
        grid-template-columns: 0px 1fr 0px;  /* mix px and fr */
        grid-template-rows: auto;  /* mix px and auto */
    }

    .find-us-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    #workshops {
        grid-template-columns: 0px 1fr 0px;  /* mix px and fr */
        grid-template-rows: auto auto;
    }

    .meme-lectures-container {
        grid-template-columns: 0px 1fr 0px;  /* mix px and fr */
        grid-template-rows: 1fr auto 1fr;  /* mix px and auto */
    }

    #meme-lectures h2 {
        font-size: 2.5rem;
    }

    #meme-lectures p {
        font-size: 1.2rem;
        max-width: 100%;
    }


    #gallery-action {
        grid-template-columns: 0px 1fr 0px;  /* mix px and fr */
        grid-template-rows: 100%;  /* mix px and auto */
    }

    .gallery-text-container {
        padding: 10px;
    }    
}