html {
  background-color: #ddbeaa;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
}

.main-container {
  align-items: center;
  padding: 20px;
  width: 780px;
  margin: auto;
}

.sq {
  width: 100px;
  height: 100px;
}
